*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Segoe UI;
}

body{
  background:#000;
  color:white;
}

.screen{
  width:100vw;
  height:100vh;
}

/* LOGIN */
.login-bg{
  background:
   linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.6)),
   url("images/login-bg.jpg");
  background-size:cover;
  display:flex;
  justify-content:center;
  align-items:center;
}

.glass-card{
  width:320px;
  padding:30px;
  border-radius:20px;
  background:rgba(255,255,255,.15);
  backdrop-filter:blur(15px);
  text-align:center;
}

.main-logo{
  width:80px;
}

.glass-card input{
  width:100%;
  padding:12px;
  margin:8px 0;
  border-radius:12px;
  border:none;
}

.glass-card button{
  width:100%;
  padding:12px;
  background:#ff4b7d;
  border:none;
  border-radius:12px;
  color:white;
}

/* CHAT */
.hidden{display:none}

.top-bar{
  height:60px;
  background:#111;
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:10px;
}

.chat-icon{
  width:30px;
}

.chat{
  height:calc(100vh - 140px);
  padding:15px;
  overflow-y:auto;
}

.msg{
  max-width:70%;
  padding:12px;
  margin:8px;
  border-radius:15px;
}

.bot{
  background:#ff4b7d;
}

.user{
  background:#333;
  margin-left:auto;
}

.input-bar{
  height:60px;
  display:flex;
}

.input-bar input{
  flex:1;
  padding:12px;
}

.input-bar button{
  width:80px;
  background:#ff4b7d;
  border:none;
  color:white;
}

/* BACKGROUNDS */
.romantic{
  background:
   linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)),
   url("images/romantic-bg.jpg");
  background-size:cover;
}

.minimal{
  background:#f5f5f5;
  color:black;
}

.dark{
  background:#000;
}

